*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html
{
    font-size: 62.5%;
}
.main
{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #e1e1e3;
}
.contenedor
{
    width: 100%;
    max-width: 400px;
    height: 50%;
    max-height: 385px;
    margin: auto;
}
.contenedor.open
{
    height: 100%;
    max-height: 800px;
}
.contenedor .pokedex
{
    width: 100%;
    height: 50%;
}
.contenedor.open .pokedex
{
    width: 100%;
    height: 25%;
}
.poke
{
    width: 100%;
    height: 50%;
    background-color: red;
}
.poke-top-top
{
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    position: relative;
    overflow: hidden;
}
.poke-botton-top
{
    display: flex;
    align-items: flex-end;
    position: relative;
}
.poke-top-botton
{
    display: flex;
    position: relative;
}
.poke-botton-botton
{
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
}
.separador
{
    width: 30%;
    height: 10px;
    background-color: white;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}
.centro
{
    width: 40%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}
.centro::after
{
    content: "";
    width: 90%;
    height: 90%;
    background-color: black;
    position: absolute;
}
.top
{
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    border: 2px solid gray;
    border-bottom: none;
}
.top::after
{
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    border: 2px solid gray;
    border-bottom: none;
    z-index: 1;
}
.botton
{
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    border: 2px solid gray;
    border-top: none;
}
.centro.botton
{
    align-items: flex-start;
}
.botton::after
{
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    border: 2px solid gray;
    border-top: none;
}
.pokebol
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
}
.normal
{
    right: calc(50% - 25px);
    bottom: calc(100% - 25px);
    background-image: url("../sourses/img/pokebold.jpg");
    background-position: center;
    background-size: 175%;
    background-repeat: no-repeat;
}
.especial
{
    right: calc(50% - 25px);
    top: calc(100% - 25px);
    height: 25px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    background-color: #a7dfe2;
}

/*Centro de la pokedex*/
.center
{
    width: 90%;
    height: 50%;
    background-color: #a7dfe2;
    margin: auto;
    border-right: 10px solid #58beb7;
    border-left: 10px solid #58beb7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card
{
   width: 80%;
   padding: 15px;
   border: 6px solid #64cce0;
   border-radius: 15px;
   background-color: #81d3e4;
   text-align: center;
}
.imagen
{
    width: 55%;
    border-radius: 15px;
    border: 2px solid #3ac2dd;
    margin-top: 10px;
}
.card p 
{
    width: 140px;
    margin: auto;
    font-size: 1.2rem;
    padding: 2px 0;
}
.card h2 span
{
    text-transform: uppercase;
}
.tipos img
{
    width: 64px;
    margin-right: 5px;
    margin: 5px 0;
}
.loanding
{
    height: 70px;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loanding img
{
    width: 64px;
    margin-right: 10px;
}
.invisible
{
    display: none;
}
@media only screen and (orientation : landscape) and (max-width: 900px) 
{
    .main
    {
        background-color: black;
        width: 100%;
        min-width: 640px;
        height: 100%;
        min-height: 360px;
        overflow: hidden;
    }
    .contenedor
    {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(180deg);
        min-width: 340px;
        max-width: 400px;
        height: 50vw;
        
    }
    .contenedor.open
    {
        min-height: 640px;
        max-height: 800px;
        min-width: 360px;
        max-width: 400px;
        position: absolute;
        left: 120px;
    }    
}

/* .pokebol:hover
{
    width: 70px;
    height: 70px;
    right: calc(50% - 35px);
    bottom: calc(100% - 35px);
} */